.join-section {
    background-image: linear-gradient(rgba(5, 10, 35, 0.6), rgba(5, 10, 35, 0.6)), 
    url(../../assets/images/join-section-img.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;

}


